.weatherDataContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}
.countryName {
  letter-spacing: 1px;
  font-size: 22px;
  text-align: center;
}
.cityName {
  letter-spacing: 1px;
  font-size: 22px;
  text-align: center;
}
.localTime {
  font-size: 38px;
  font-weight: 700;
}
